.container-favoritos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-favoritos{
    height: 600px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*background-color: aliceblue;*/
    padding-top: 25px;
}

.h2-favoritos{
    margin-bottom: 10px;
}

