.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-home{
    height: 600px;
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-top: 25px;
}

.titulo-home{
    text-align: center;
    margin-bottom: 10px;
}

.img-home {
    /*transform: scale(.85);*/
    border-radius: 8px 8px 0px 0px;
}

.botao{
    height: 40px;
    background: none;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    border: 2px solid #4c89e3;
    background-color: #4c89e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
    text-decoration: none;
  }
  
  .botao:hover{
    background-color:#6197e8;
    color: rgb(45, 45, 45);
  }